body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: #edeff1;
    padding-right: 12vw;
}

.logo {
    float: left;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-left: 10vw;
}

nav {
    float: right;
}

.menu {
    display: block;
    margin-left: 30px;
}

.menu li {
    float: left;
    display: inline-block;
    margin-right: 35px;
    margin-top: 30px;
}

.menu a:hover {
    background-color: #dd4b2b;
    color: #edeff1;
    padding: 10px 30px;
}

.menu a {
    color: #31353e;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 25px;
}

.integer-background {
    background: url("../img/integer-background.png") no-repeat top center / cover;
}

.ournews_background {
    background-color: #edeff1;
}

.newsletter-background {
    background: url("../img/hamburgers.png") no-repeat bottom center / cover;
}

.links-background {
    background: #d75d0e;
}

.footer-background {
    background: url("../img/hamburgers.png") no-repeat bottom center / cover;
}

.title {
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    line-height: 48px;
    text-align: center;
    height: 80vh;
    padding-top: 27vw;
}

h1 {
    font-size: 72px;
    font-weight: 300;
    margin: 0;
}

.finibus {
    font-size: 30px;
    font-weight: 700;
}

.ournews_background li,
.foot li {
    text-align: center;
    display: inline-block;
    width: 33%;
}

.paragraphs {
    white-space: pre-line;
}

.titles {
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.paragraphs {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.button-read {
    display: inline-block;
    border-radius: 40px;
    background-color: #ffffff;
    color: #612316;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 60px 10px 63px;
    height: 8vh;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 29em;
}

.button-read:hover {
    transform: translateY(2em);
    transition: 1s;

}

.title-ournews {
    margin-top: -10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #31353e;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
}

.ournews_background h3 {
    color: #31353e;
    font-family: "Roboto Slab", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.ournews_background p {
    color: #31353e;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
}

.ournews_background a {
    display: inline-block;
    border-radius: 27px;
    background-color: #ffffff;
    color: #4e5159;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    padding: 10px 52px 10px 56px;
    margin-bottom: 90px;
}

.ournews_background a:hover {
    transform: translateY(2em);
    transition: 1s;

}

.newsletter-background {
    height: 40vh;
}

.newsletter-background h3 {
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
    margin-top: -25px;
}

.newsletter-background p {
    display: block;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

}

form {
    margin-top: 20px;
}

input[type="email"] {
    background: transparent;
    border-radius: 27px;
    border-right: 0;
    margin-left: 30vw;
    padding: 10px 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input[type="submit"] {
    border-radius: 27px;
    border-left: 0;
    background-color: #ffffff;
    margin: -50px;
    padding: 10px 70px;
    color: #612316;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

input[type="submit"]:hover {
    transform: translateX(-7em);
    transition: 1s;
}

.list-ipsum {
    padding-bottom: 10vw;
    position: relative;

}

.list-ipsum h3 {
    color: #191b29;
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;

}

.first-list {
    float: left;
}

.second-list {
    float: right;
}

.list-ipsum .paragraph-list {
    white-space: pre-line;
    color: #191b29;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.first-list:after {
    position: absolute;
    top: 40px;
    right: 10vw;
    float: right;
    content: '';
    display: block;
    border: 1px solid #dbdbdb;
    height: 25vw;
    width: 35vw;
    margin-left: 40vw;

}

/*The element is located so because it's beautiful*/
.second-list:before {
    float: left;
    content: '';
    display: block;
    border: 1px solid #dbdbdb;
    height: 25vw;
    width: 35vw;
}

.link-sign1 {
    display: inline-block;
    border-radius: 27px;
    background-color: #dd4b2b;
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 50px;
}

.link-sign2 {
    display: inline-block;
    border-radius: 27px;
    background-color: #4b4e73;
    color: #ffffff;
    font-family: "Roboto Slab", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 50px;
}

.link-sign1:hover {
    transform: translateX(-5em);
    transition: 1s;
}

.link-sign2:hover {
    transform: translateX(5em);
    transition: 1s;
}

.links-background ul {
    float: left;
    width: 33%;
    text-align: center;
    padding: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

.links-background a {
    color: #ffffff;
    font-family: Roboto sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}

.links-background a:hover {
    color: #612316;
}

.footer-background {
    height: 38vh;
    margin-top: -18px;
}

.footer-background p {
    color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding-top: 4vw;
}

.footer-background span {
    font-weight: bold;
}

